# Requirements to install anuga in read the docs

numpy
cython
pybind11
meson
meson-python
ninja

pymetis
meshpy
scipy
netcdf4
dill
future
Pmw


utm
pyproj
affine

pytest
matplotlib

ipython   # provides the ipython3 Pygments lexer for notebook code cells
nbsphinx
sphinx_rtd_theme
sphinx-copybutton
sphinx
